:root {
    --MAINCOLOR: #013D29;
    --TOPNAVTEXTCOLOR: white;
}

/* Small screens nav menu  */
.sm_nav_menu {
    transition: transform 700ms;
}
.sm_nav_menu li{
    padding: 2rem 0;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.533);
}

.dropdown{
    /* height: 0; */
}

.dropdown_menu {
    transition: height 500ms;
}

.search_bar_container {
    display: flex;
    align-items: center;
}

.search_bar_container input{
    outline: none;
    width: min(80%, 350px);
}
.search_bar_container input:focus{
    border-bottom: 1px var(--MAINCOLOR) solid;
}

/* Large screens nav menu */
@media only screen and (min-width: 1024px) {
    input {
        outline: none;
        width: 15rem;
    }
    input:focus {
        border-bottom: 1px var(--MAINCOLOR) solid;
    }
}